
<mat-card class="example-card">
    <div style="float:right;">
<a href="https://www.amazon.in/JBL-Portable-Wireless-Bluetooth-Speaker/dp/B00TFGWAA8/ref=sr_1_2?ie=UTF8&qid=1545376100&sr=8-2&keywords=jbl" target="_blank"> <button class="learn-more">
              <div class="circle">
                <span class="icon arrow"></span>
              </div>
              <p class="button-text">Visit</p>
            </button></a>
       </div>
  <mat-card-header>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>{{title}}</mat-card-subtitle>
    </mat-card-header>
  <div id="inline">
 <div class="one">
  <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/91O5PGqt6vL._SY450_.jpg" 
  alt="JBL">
</div>
<div class="two">
  <div class="example-button-row">
      <br><br>
    <h5 style="color:purple"><strong>Category </strong> <button mat-stroked-button class="category" 
      color="primary">{{sourceCategory}}</button>&nbsp;&nbsp;&nbsp;
    <strong>Reviews </strong><button mat-mini-fab color="warn">{{reviewCount}}</button>&nbsp;&nbsp;&nbsp;
    <strong>Latest reviewed </strong> <button mat-stroked-button class="category" 
    color="accent">{{latestReviewDate}}</button></h5>
    </div>
    <div class="example-button-row">
    <mat-chip-list>
    &nbsp;  <h3>Price:<mat-chip color="primary" selected>{{price}}</mat-chip></h3>
    <mat-chip-list>
        <div style="float:right; margin-left: 10px; margin-top: 10px"> <strong>Creation Date 
          </strong> <mat-chip>{{createdAtDate}}</mat-chip>
        </div>
    <div style="float:right; margin-left: 10px; margin-top: 10px"> <h3>ID: <mat-chip color="accent" 
      selected>{{product_id}}</mat-chip></h3>
    </div>  
    </mat-chip-list>
      </mat-chip-list>
      </div>
<br><br>
        <div class="col-md-3" *ngFor="let score of topScores">
          <div class="thumbnail">
            <div>
              <h5 class="text-center"><b>{{score.topic}}</b></h5>
            </div>
            <div class="caption">
              <h6 class="text-center">{{score.score}}</h6>
            </div>
          </div >
        </div>
        </div>
</div>
  <mat-card-content>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>

<!-- <div class="row">
  <div class="col-md-4">
    <img src="assets/abstract-image.jpg" alt="" class="thumbnail">
    <p>
      <a href="https://www.amazon.in/JBL-Portable-Wireless-Bluetooth-Speaker/dp/B00TFGWAA8/ref=sr_1_2?ie=UTF8&qid=1545376100&sr=8-2&keywords=jbl" class="btn btn-info btn-block" target="_blank">Visit product Website</a>
    </p>
  </div>
  <div class="col-md-8">
    <h1>{{name}}

    </h1>
  <h5>  <p>{{title}}</p></h5>
    <p class="label label-info m-r-md">

      Category: {{sourceCategory}}
    </p>
    <p class="label label-info m-r-md">{{reviewCount}} customers reviews</p>
  <p class="label label-info m-r-md">latest reviewed on: {{latestReviewDate}}</p>
    <h2>Price: {{price}}</h2>
    <h5>Product id: {{product_id}}</h5>

    <div class="row is-flex" >
      <div class="col-md-12">
        <h1 class="text-center">Top Scores</h1>
      </div>
      <div class="col-md-3" *ngFor="let score of topScores">
        <div class="thumbnail">
          <div class="caption">
            <h5 class="text-center"><b>{{score.topic}}</b></h5>
          </div>
          <div class="caption">
            <h6 class="text-center">{{score.score}}</h6>
          </div>
        </div >
      </div>
    </div>

  </div>
</div> -->